.forecast-day {
  margin-left: 5px;
}
.WeatherForecast {
  margin-top: 50px;
  text-align: center;
}

.forecast-date {
  font-size: 16px;
  color: #073b4c;
}

.forecast-temps {
  font-size: 16px;
}

.forecast-min-temp {
  opacity: 0.5;
  margin-right: 5px;
}